article {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 50px;
  margin-left: 10%;
  margin-right: 10%;
}

.hs-main{
  max-width: 1020px;
  justify-content: center;
  align-items: center;
}



.hs-extrainfo {
  max-width: 300px;
  margin-left: 5%;
}

@media (max-width: 1080px) {
  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .hs-extrainfo {
    width: 100%;
    margin: 0;
  }

  .hs-aboutme{
    margin-top: 40px;
  }

  .hs-featured-today{
    margin-top: 40px;
  }

  .hs-categories{
    margin-top: 40px;
  }

  .hs-latestweets{
    margin-top: 40px;
  }

  .hs-popular{
    margin-top: 40px;
  }
}

/* Add responsive styles for images, fonts, etc. as needed */