article{
    display: inline-flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    /* background-color: red; */
}

.hs-extrainfo{
    /* background-color: aqua; */
    display: flex;
    width: 50%;
}
